*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: goldenrod;
}

/*UTILITIES*/
.login{
    margin-top: 40px;
    width: 20%;
    display: flex;
    justify-content: center;
}
.t-center{
    text-align: center;
}
.a-center{
    align-items: center;
}
.column{
    flex-direction: column;
}
/*CONTENT*/
.container{
    border-radius: 20px;
    margin: 40px;
    background-color: greenyellow;
    width: 50%;
    display: flex;
}

#dice{
    margin: 30px;
}
.login h1{
    margin-bottom: 20px;
    width: 200px;
    align-self: center;
}